<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec purus at velit laoreet sollicitudin. Morbi in orci ut mauris tempor gravida id vel ex. Sed egestas mi ac risus aliquet, sed vulputate lorem volutpat. Nunc eget tempus libero. Nunc vestibulum, massa ut finibus vehicula, urna purus pulvinar lectus, quis facilisis urna dui nec risus. Suspendisse erat dolor, tempus sit amet pellentesque ac, scelerisque id eros. Aenean bibendum eros nibh, sollicitudin elementum elit iaculis vel.
</p>
